kbd {
	--kbd-color-background: #f7f7f7;
	--kbd-color-border: #cbcccd;
	--kbd-color-text: #222325;

	background-color: var(--kbd-color-background);
	color: var(--kbd-color-text);
	border-radius: 0.25rem;
	border: 1px solid var(--kbd-color-border);
	box-shadow: 0 2px 0 1px var(--kbd-color-border);
	cursor: default;
	font-size: 0.75em;
	line-height: 1;
	min-width: 0.75rem;
	text-align: center;
	padding: 2px 5px;
	position: relative;
	top: -1px;
}

kbd:hover {
	box-shadow: 0 1px 0 0.5px var(--kbd-color-border);
	top: 1px;
}
