@media (prefers-color-scheme: dark) {
	body[data-theme='dark'] div .tip,
	body[data-theme='system'] div .tip {
		--tip-background-color: #1e1e1e;
		--tip-border-color: #42b983;
	}
}

body[data-theme='dark'] div .tip {
	--tip-background-color: #1e1e1e;
	--tip-border-color: #42b983;
}

div .tip {
	--tip-background-color: var(--color-neutral-bg);
	--tip-border-color: #42b983;
	background-color: var(--tip-background-color);
	border-color: var(--tip-border-color);
	padding: 1rem 1.5rem;
	border-left-width: 0.5rem;
	border-left-style: solid;
	margin: 1rem 0;
	& > * + * {
		margin-block-start: var(--flow-space, 1.5em);
		margin-block-end: 0;
	}
}

div .tip::before {
	content: 'Tip';
	display: block;
	font-size: 0.9rem;
	font-weight: 700;
	text-transform: uppercase;
	color: #42b983;
	margin-bottom: 0.5rem;
}
