---js
{
  layout: "core/base.layout.njk",
  permalink: function({ page, app }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    const normalized = url.replace(/(^|\/)0+(?=\d)/g, '$1');
    const isRoot = normalized === "";
    if (isRoot) return "/";

    const pathPrefix = app.notes.pathPrefix.replace(/^\/|\/$/, '');
    return `/${[pathPrefix, normalized].filter(Boolean).join('/')}/`;
  }
}
---

<div class="page" data-pagefind-body>
  <main class="page__main" id="app-content" >
    <article>
      <h1 class="page__title">{{ headline or title or page.fileSlug }}</h1>
      <div class="article">
        {{ content | safe }}
      </div>
    </article>

    <div class="page__nav">
      {% include 'modules/page-nav/page-nav.partial.njk' %}
    </div>
  </main>

  {% if panel %}
  <div class="page__panel">
    {% include 'modules/notes/notes-panel.partial.njk' %}
  </div>
  {% endif %}
</div>


