---
panel: true
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ app.description }}">
        <title>Learn Eleventy | {{ title or page.fileSlug }}</title>
        <meta name="generator" content="{{ eleventy.generator }}">
        <link rel="stylesheet" href="{{ setup.css.output }}">
    </head>
    <body data-theme="system">
        <script>
            document
                .body
                .setAttribute("data-theme", JSON.parse(localStorage.getItem("theme") ?? '"system"'))
        </script>
        <script>
            window
                .document
                .documentElement
                .classList
                .add("supports-js")
        </script>
        {% include 'partials/skip-to-content.njk' %}

        <div class="app-layout">
            {% include 'partials/app-header.njk' %}
            <div class="app-layout__wrapper">
                <div class="app-layout__sidebar">
                    {% include 'partials/sidebar.njk' %}
                </div>
                {{ content | safe }}
            </div>
        </div>

        <script src="/app.js" data-base="{{ '/' | htmlBaseUrl }}"></script>

        <div aria-hidden="true" hidden>
            {{ 'hash' | feather({ id: 'icon-hash' }) | safe }}
            {{ 'file-text' | feather({ id: 'icon-file-text' }) | safe }}
        </div>

        <div
      class="visually-hidden"
      x-data
      x-text="$store.announce.text"
      x-cloak
      :aria-live="$store.announce.ariaLive"
    ></div>
    </body>
    <script>
        const ICON_CLIPBOARD_COPY = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>`;
        const ICON_CLIPBOARD_CHECK = `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>`;

        const blocks = document.querySelectorAll('pre')
        blocks.forEach((block) => {
            const copyButton = document.createElement('button');
            copyButton
                .classList
                .add('code__copy-button')
            copyButton.innerHTML = ICON_CLIPBOARD_COPY

            copyButton.addEventListener('click', () => {
                navigator
                    .clipboard
                    .writeText(block.querySelector('code').textContent);
                copyButton.innerHTML = ICON_CLIPBOARD_CHECK
                copyButton.style.color = '#2bbd50'
                setTimeout(() => {
                    copyButton.innerHTML = ICON_CLIPBOARD_COPY
                    copyButton.style.color = '#a1a1aa'
                }, 2000);
            });
            block.appendChild(copyButton);
        });
    </script>
</html>