---js
{
  layout: "layouts/base.njk",
  permalink: function({ page }) {
    const url = this.slugifyPath(page.filePathStem).replace(/\/index$/, '');
    const isRoot = url === "";
    return isRoot ? "/" : `/lesson/${url}/`;
  }
}
---

<main class="app-layout__main" id="app-content">
    <div class="page" data-panel="{{ panel }}">
        <div class="page__wrapper">
            <article class="page__main article">
                <h1 class="page__title">{{ title or page.fileSlug }}</h1>
                <div class="article__content">
                    {{ content | safe }}
                    <hr>
                    <div class="article__links">
                        {% set nextLesson = page.url | nextLesson %}
                        {% set prevLesson = page.url | prevLesson %}
                        {% if collections.notes[prevLesson] %}
                            <a href="{{ collections.notes[prevLesson].url }}" class="article__link article__link--prev">
                                <span class="article__link-icon">{{ 'arrow-left' | feather | safe }}</span>
                                <span class="article__link-title">{{ collections.notes[prevLesson].data.title }}</span>
                            </a>
                        {% else %}
                            <div class="article__link--empty"></div>
                        {% endif %}
                        {% if collections.notes[nextLesson] %}
                            <a href="{{ collections.notes[nextLesson].url }}" class="article__link article__link--next">
                                <span class="article__link-title">{{ collections.notes[nextLesson].data.title }}</span>
                                <span class="article__link-icon">{{ 'arrow-right' | feather | safe }}</span>
                            </a>
                        {% endif %}
                    </div>
                </div>
            </article>
            {% if panel %}
                <div class="page__panel">
                    {% include 'partials/panel.njk' %}
                </div>
                {% endif%}
            </div>
        </div>
    </main>